/* General formatting */

body {
	background-color: #535353;
}

canvas {
	border: 1px solid black;
	width: 100%;
	height: auto;
	cursor: none;
}

h1 {
	line-height: 1.15;
	font-size: 32px;
	padding-top: 15px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
}

p {
	line-height: 1.35;
	font-size: 14px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 15px;
	text-align: center;
}

a {
	padding-right: 30px;
	padding-left: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
	line-height: 1.15;
	font-size: 24px;
}

strong {
	font-size:0.950em;
	color: navy;
}

video {
	width: 100%
}

img {
	width: 100%
}

.hs-text {
	font-family:"Courier New",monospace;
	font-weight:bold;
	font-size:0.875em;
	color:black;
}

.gray_wrapper {
	max-width: 900px;
	background-color: #C6C6C6;
	margin: 0 auto;
	padding: 5px 15px 25px;
}

.hs-wrapper {
	max-width: 650px;
	margin: 0 auto;
	background-color:#eee;
	padding-bottom: 20px;
}


.spoiler{
	color: black;
	background-color:black;
}

.spoiler:hover {
	background-color:white;
}